/* frontend/src/index.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* default background and text */
:root {
  color-scheme: dark;
}

html, body, #root { height: 100%; }
body { @apply bg-gray-900 text-gray-100; }
